# .gitignore
#
###############

# Temporary files
*.swp
*.new
*.zip
*.org

# Build files
/.netrwhist
*.log
*.old

# Other files
*.vba

# Plugin directories
bundle/
view/
sessions/
autoload/

# ???
indent/
spell/
syntax/

